# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode build products
build/
DerivedData/
.DerivedData/
.DerivedDataDevice/

# Swift Package Manager
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Misc
*.log
